:root {
    --color-light: white;
    --color-signal: #212121;
    --color-primary: #f99d09;
    --color-secondary: #ff6b0f;
    --color-secondary-light: #fa8e4b;
    --color-primary-light: #f7bd60;
    --color-hover-primary: #d88705;

    --color-navbar: white;
    --color-navbar-background: white;
    --color-navbar-hover-background: #f5f5f5;
    --color-navbar-text: #3d3d3d;

    --color-content-background: white;
    --color-content-secondary-background: #ece7e7;
    --color-content-text: #212121;
    --color-content-shadow: #7c7a7a;

    --color-content-filterarea: var(--color-primary-light);
    --color-content-filterarea-collapse_btn_type: white;
    --color-content-filterarea-collapse_btn_type_hover: var(--color-primary);
    --color-content-filterarea-collapse_type_subType: white;

    --color-content-bookList: var(--color-primary);
    --color-content-bookList-background: white;
    --color-content-bookList-line: #9a9898;

    --color-content-pagination: #f5efef;
    --color-content-hover: #f8f4f4;

    --size-bezel: 0.5rem;
    --size-radius: 4px;
}
.dark-theme {
    --color-secondary: #fccb05;
    --color-secondary-light: #fcdc5b;
    --color-navbar-background: #413f3f;
    --color-navbar-text: white;
    --color-navbar-hover-background: #4a4646;

    --color-content-background: #413f3f;
    --color-content-secondary-background: #5a5858;
    --color-content-text: white;
    --color-content-shadow: #212121;

    --color-content-filterarea: var(--color-primary);
    --color-content-filterarea-collapse_btn_type: #4a4646;
    --color-content-filterarea-collapse_btn_type_hover: var(
        --color-primary-light
    );
    --color-content-filterarea-collapse_type_subType: #4a4646;

    --color-content-bookList: var(--color-primary);
    --color-content-bookList-background: #5c5a5a;
    --color-content-bookList-line: #9a9898;

    --color-content-pagination: #383737;
    --color-content-hover: #212121;
}
