:root {
    --color-light: white;
    --color-signal: #212121;
    --color-primary: #fab700;
    --color-navbar: white;
    --color-background: var(--color-light);
    --size-bezel: 0.5rem;
    --size-radius: 4px;
}
